.account-settings-heading {
    text-align: center;
    margin: 25px;
}

.account-settings-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.top-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 13.5px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.calendar-privacy-button,
.change-password-button {
    flex: 1;
    width: 100%;
}

.bottom-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 13.5px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.change-profile-picture-button,
.cancel-button,
.change-bio-button {
    flex: 1;
    width: 100%;
}

.edit-bio {
    flex: 1;
}