.intro {
  padding: 40px;
}

.heading {
  font-weight: normal;
  color: black;
}

.schedule {
  font-weight: normal;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.heading-and-add-button-header {
  display: flex;
  align-items: center;
}

.add-button {
  margin-left: auto;
}
