.heading {
  text-align: left;
  margin: 0;
}

.heading-and-home-button-header {
  display: flex;
  align-items: center;
}

.home-button {
  margin-left: auto;
}

.lookup-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 32.5px;
}

.toggle-button {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searching {
  margin-top: 1rem;
  text-align: center;
}

.searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
