.intro { 
    padding: 30px;
    text-align: center;
}

.heading{
    text-align: left;
    margin: 0;
    font-weight: normal;
}

.home-head{
    display: flex;
    align-items: center;
}

.offset{
    margin-left: auto;
}

.username {
    display: flex;
    color: #111;
}




